@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap');
@keyframes focus-in-contract{0%{letter-spacing:1em;filter:blur(12px);opacity:0}100%{filter:blur(0);opacity:1}}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    padding: 0;
    margin : 0;

    text-decoration: none;
    list-style:  none;

    box-sizing: border-box;
    font-family: 'Noto Sans', 'GmarketSansMedium', sans-serif;
}

a,
button{
    cursor: pointer;

    
    color : black;
}

a:hover{
    transform: scale(1.2);
    transition-duration: 0.8s;
}

button:hover,
.profile-content:hover{
    transform: scale(1.04);
    transition-duration: 1s;
}

.git-hub-content-box:hover,
.velogcontent-box:hover{
    border: 10px dashed #5ABAFF;
    transform: scale(1.04);
    transition-duration: 1s;
}

h1{
    font-size: 80px;
    text-align: center;
}

.icon {
    color : #FF5D5D;
}



main{
    height: 4300px;

    background-color: #FFD5FF;

    display: flex;
    flex-direction : column

}



/* nav */
nav{
    height: 80px;

    display: flex;
    
    position: sticky;
    top:0;

    background-color:#FFD5FF;
}

nav > section{
    flex-basis: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;

}


nav >ul {
    flex-basis: 70%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}
nav li{

    flex-basis: 4%;
    font-size: 50px;


}

nav a{
    color: #FF5D5D;
    margin-left: 40px;
    margin-right: 40px;

}

nav a:hover{
    color : rgb(133, 67, 255);
}



/* contnet */

.content{
    display: flex;
}

aside{
    flex-basis: 2%;
    /* height: 1080px; */
    display: flex;
    justify-content: center;
    align-items: center;

    position :sticky;
    top: 0;
}

.content-container{
    flex-basis: 96%;
}



/* first */
.focus-in-contract{animation:focus-in-contract .7s cubic-bezier(.25,.46,.45,.94) both}

.first-page{
    height: 1080px;
    background-image: url("homepage-image/flower.png");
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;

}

.first-page-title {
    flex-basis: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-page > div:nth-child(2){

    flex-basis : 30%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.click-btn{
    width: 300px;
    height: 120px;
    background-color: #E2FD78;
    border-radius: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.click-btn > a{
    font-size : 40px;
}


/* second */

.second-page{
    height: 700px;
    display: flex;
}

.profile-container{
    flex-basis: 30%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-container > div{
    width: 400px;
    height: 400px;

    border-radius: 100%;
    overflow: hidden;
}

.profile-container > div:hover{
    border: 10px dashed rgb(222, 247, 164);
    transform: scale(1.1);
}


.profile-container img {
    height: 100%;
}

.profile-content-container{
    flex-basis : 70%;

    display: flex;
    justify-content: center;
    align-items: center;

}

.profile-content{
    display: flex;
    flex-direction: column;

    width: 1000px;
    height: 400px;
    background-color: #F8FFAB;
    border-radius: 50px;

}



.profile-content > h2{
    flex-basis: 10%;
    text-align: center;
    padding-top: 30px;
}

.profile-content-info{
    flex-basis: 90%;
    display: flex;
}

.profile-content-info > div:nth-child(1),
.profile-content-info > div:nth-child(2){
    flex-basis: 50%;
    padding-left: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;

}

.profile-content-info i {
    line-height: 50px;
    font-size: 20px;
}




/* third */
.third-page{
    display: flex;
    flex-direction: column;
}


.thrid-page-title-container{
    height: 100px;
    background-color: #EC9D9D;
}

.thrid-page-title-container > div{
    display: flex;
    
    justify-content: center;
    align-items: center;
}

.thrid-page-title-container h2{
    font-size : 50px;
    line-height : 100px; 
}


.thrid-page-content-container{
    height: 500px;

    display: flex;

}

.thrid-page-content-container > div:nth-child(1),
.thrid-page-content-container > div:nth-child(2){
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.git-hub-content-container > div,
.velog-content-container > div{

    width: 700px;
    height: 230px;
    background-color: #D9D9D9;

    display: flex;
}

.git-hub-content-box > a,
.velogcontent-box > div {
    flex-basis: 40%;

    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.velog-wrapper img{

    padding-top: 10px;
    width: 100px;
    height: 100px;

}

.git-hub-content-box > section,
.velogcontent-box > section {
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 20px;
    line-height: 60px;
}


.thrid-page-content-container a:hover{
    color : rgb(4, 117, 70);
}


/* 네번째 페이지 */
.fourth-page{
    display: flex;
    flex-direction: column;
    height: 800px;
}

.fourth-page-title-container{
    height: 20%;

}

.fourth-page-content-container{
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.Portfolio-title{
    width: 550px;
    height: 112px;
    background-color: #A19FFF;
    border-radius: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

}

.fourth-page > div:nth-child(1){

    
    display: flex;
    justify-content: center;
    align-items: center;
}


.portfolio-container-box{

    width: 1500px;
    height: 600px;
    background-color: #AF98FF;

    display: flex;
    justify-content: center;
    align-items: center;
}

.youtube-img-wrapper{
    flex-basis: 70%;
    width: 500px;
    height: auto;
    
}

.youtube-img-wrapper > img {
    border-radius: 0px 100px 0px 100px;
}


.portfolio-info {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}



.portfolio-info  * {

    margin-bottom: 50px;
}


/* 다섯번째 페이지 */

.fifth-page{
    display: flex;
    flex-direction: column;
    height: 1000px;
}

.fifth-page-title-container{
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fifth-page-content-container{
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form *{
    border: none;
}

.conact-title{
    width: 550px;
    height: 100px;
    background-color: #FF79FF;
    border-radius: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.conact{
    display: flex;
    flex-direction: column;
}


.conact input:not(:nth-child(3)) {
    width: 500px;
    height: 50px;
    margin : 20px;
    border-radius: 10px;
    padding-left: 30px;
}

.conact input:nth-child(3) {
    width: 500px;
    height: 400px;
    margin : 20px;
    border-radius: 10px;
    padding-left: 30px;
}

.conact  > button{
    width: 500px;
    height: 50px;
    margin : 20px;

    background-color: #B9C4FF;
}

.conact > button:hover{
    border: 5px dashed #5ABAFF;
}






footer{
    padding: 40px;
    background-color: #FFF0F0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}